<connectionStrings>
  <add name="ADONETConnectionString" connectionString="metadata=res://*/WebCounterModel.csdl|res://*/WebCounterModel.ssdl|res://*/WebCounterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=LeadForce;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="WebCounterEntities" connectionString="metadata=res://*/WebCounterModel.csdl|res://*/WebCounterModel.ssdl|res://*/WebCounterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=LeadForce; Integrated Security = SSPI;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>