<connectionStrings>
  <add name="WebCounterEntities" connectionString="metadata=res://*/WebCounterModel.csdl|res://*/WebCounterModel.ssdl|res://*/WebCounterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=earchtest-05-01;initial catalog=LeadForce;User ID=sa;Password=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>