<appSettings>
  <add key="VkontakteAPIOAuthFullUrl" value=""/>
  <add key="VkontakteAPIOAuthUrl" value=""/>
  <add key="VkontakteAPIUrl" value=""/>
  <add key="VkontakteAPIRedirectUri" value=""/>
  <add key="FacebookAPIOAuthFullUrl" value=""/>
  <add key="FacebookAPIRedirectUri" value=""/>
  
  <add key="LabitecDictionaryViewImagesVirtualFilePath" value=""/>
  <add key="" value=""/>
</appSettings>